<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Bad Cards</title>
</head>
<body>
    <h1>Bad Cards</h1>
    <table>
        <tr>
            <th>Card</th>
        </tr>
        <tr th:each="badCard : ${badCards}">
            <td th:text="${badCard.cardCode}">1111111111</td>
        </tr>
    </table>
</body>
</html>